@page "/"

@inject NavigationManager Navigation

<PageTitle>Ana Sayfa</PageTitle>

<div class="centered-container">
    <h1>Rüyanızı yorumlamak için buradayım!</h1>
    <button class="mystic-button" @onclick="GoToDreamChat">Lütfen tıklayınız</button>
</div>

@code {
    private void GoToDreamChat()
    {
        Navigation.NavigateTo("/dreamchat");
    }
}
